/* .carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
  position: center;
} */

.carousel .slide img {
  max-height: 440px; /* change this to whatever you want */
  width: 440px;
}

.carousel .slide {
  /* display: table;  */ /* Allow the centering to work */
  /* margin: 0 auto; */
  /* width: 100%;
  height: 100%; */
  /* padding: 5px; */
  /* box-sizing: inherit; */
  background-color: white !important;
}

/* .item img {
  visibility: hidden;
} */
